@import "../../assets/styles/global.scss";
.team {
    width: 225px;
    padding: 16px; 
    background: $white;
    box-shadow: 3px 8px 11px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    .team-dtail {
        text-align: center;
        position: relative;
        .team-dtail-title {
            margin-top: 24px;
            margin-bottom: 8px; 
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        .team-dtail-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-top: 0;
            margin-bottom: 0;
        }
        .contct-btn {
            cursor: pointer;
            position: absolute;
            top: 169px;
            right: 11px;
        }
        .icons { 
            position: absolute;     
            display: flex;
            flex-direction: column;
            top: 51px;
            right: 19px;
            .icons-link {
                margin-bottom: 2px;
            }
        }
    }
    &:hover {
        box-shadow: 3px 8px 11px rgba(0, 0, 0, 0.7);
    }
}