@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Light.eot');
    src: url('Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Light.woff2') format('woff2'),
        url('Kanit-Light.woff') format('woff'),
        url('Kanit-Light.ttf') format('truetype'),
        url('Kanit-Light.svg#Kanit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-LightItalic.eot');
    src: url('Kanit-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-LightItalic.woff2') format('woff2'),
        url('Kanit-LightItalic.woff') format('woff'),
        url('Kanit-LightItalic.ttf') format('truetype'),
        url('Kanit-LightItalic.svg#Kanit-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Medium.eot');
    src: url('Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Medium.woff2') format('woff2'),
        url('Kanit-Medium.woff') format('woff'),
        url('Kanit-Medium.ttf') format('truetype'),
        url('Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-MediumItalic.eot');
    src: url('Kanit-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-MediumItalic.woff2') format('woff2'),
        url('Kanit-MediumItalic.woff') format('woff'),
        url('Kanit-MediumItalic.ttf') format('truetype'),
        url('Kanit-MediumItalic.svg#Kanit-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-SemiBold.eot');
    src: url('Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-SemiBold.woff2') format('woff2'),
        url('Kanit-SemiBold.woff') format('woff'),
        url('Kanit-SemiBold.ttf') format('truetype'),
        url('Kanit-SemiBold.svg#Kanit-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.eot');
    src: url('Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Regular.woff2') format('woff2'),
        url('Kanit-Regular.woff') format('woff'),
        url('Kanit-Regular.ttf') format('truetype'),
        url('Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Thin.eot');
    src: url('Kanit-Thin.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Thin.woff2') format('woff2'),
        url('Kanit-Thin.woff') format('woff'),
        url('Kanit-Thin.ttf') format('truetype'),
        url('Kanit-Thin.svg#Kanit-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Black.eot');
    src: url('Kanit-Black.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Black.woff2') format('woff2'),
        url('Kanit-Black.woff') format('woff'),
        url('Kanit-Black.ttf') format('truetype'),
        url('Kanit-Black.svg#Kanit-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ThinItalic.eot');
    src: url('Kanit-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ThinItalic.woff2') format('woff2'),
        url('Kanit-ThinItalic.woff') format('woff'),
        url('Kanit-ThinItalic.ttf') format('truetype'),
        url('Kanit-ThinItalic.svg#Kanit-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-SemiBoldItalic.eot');
    src: url('Kanit-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-SemiBoldItalic.woff2') format('woff2'),
        url('Kanit-SemiBoldItalic.woff') format('woff'),
        url('Kanit-SemiBoldItalic.ttf') format('truetype'),
        url('Kanit-SemiBoldItalic.svg#Kanit-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraLight.eot');
    src: url('Kanit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraLight.woff2') format('woff2'),
        url('Kanit-ExtraLight.woff') format('woff'),
        url('Kanit-ExtraLight.ttf') format('truetype'),
        url('Kanit-ExtraLight.svg#Kanit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraBoldItalic.eot');
    src: url('Kanit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraBoldItalic.woff2') format('woff2'),
        url('Kanit-ExtraBoldItalic.woff') format('woff'),
        url('Kanit-ExtraBoldItalic.ttf') format('truetype'),
        url('Kanit-ExtraBoldItalic.svg#Kanit-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-BoldItalic.eot');
    src: url('Kanit-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-BoldItalic.woff2') format('woff2'),
        url('Kanit-BoldItalic.woff') format('woff'),
        url('Kanit-BoldItalic.ttf') format('truetype'),
        url('Kanit-BoldItalic.svg#Kanit-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Bold.eot');
    src: url('Kanit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Bold.woff2') format('woff2'),
        url('Kanit-Bold.woff') format('woff'),
        url('Kanit-Bold.ttf') format('truetype'),
        url('Kanit-Bold.svg#Kanit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraBold.eot');
    src: url('Kanit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraBold.woff2') format('woff2'),
        url('Kanit-ExtraBold.woff') format('woff'),
        url('Kanit-ExtraBold.ttf') format('truetype'),
        url('Kanit-ExtraBold.svg#Kanit-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-BlackItalic.eot');
    src: url('Kanit-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-BlackItalic.woff2') format('woff2'),
        url('Kanit-BlackItalic.woff') format('woff'),
        url('Kanit-BlackItalic.ttf') format('truetype'),
        url('Kanit-BlackItalic.svg#Kanit-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraLightItalic.eot');
    src: url('Kanit-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraLightItalic.woff2') format('woff2'),
        url('Kanit-ExtraLightItalic.woff') format('woff'),
        url('Kanit-ExtraLightItalic.ttf') format('truetype'),
        url('Kanit-ExtraLightItalic.svg#Kanit-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Italic.eot');
    src: url('Kanit-Italic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Italic.woff2') format('woff2'),
        url('Kanit-Italic.woff') format('woff'),
        url('Kanit-Italic.ttf') format('truetype'),
        url('Kanit-Italic.svg#Kanit-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.eot');
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lato-Italic.woff2') format('woff2'),
        url('Lato-Italic.woff') format('woff'),
        url('Lato-Italic.ttf') format('truetype'),
        url('Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.woff2') format('woff2'),
        url('Lato-Light.woff') format('woff'),
        url('Lato-Light.ttf') format('truetype'),
        url('Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-LightItalic.eot');
    src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-LightItalic.woff2') format('woff2'),
        url('Lato-LightItalic.woff') format('woff'),
        url('Lato-LightItalic.ttf') format('truetype'),
        url('Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-BoldItalic.eot');
    src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BoldItalic.woff2') format('woff2'),
        url('Lato-BoldItalic.woff') format('woff'),
        url('Lato-BoldItalic.ttf') format('truetype'),
        url('Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.ttf') format('truetype'),
        url('Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.ttf') format('truetype'),
        url('Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('Lato-Hairline.eot');
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Lato-Hairline.woff2') format('woff2'),
        url('Lato-Hairline.woff') format('woff'),
        url('Lato-Hairline.ttf') format('truetype'),
        url('Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('Lato-HairlineItalic.eot');
    src: url('Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-HairlineItalic.woff2') format('woff2'),
        url('Lato-HairlineItalic.woff') format('woff'),
        url('Lato-HairlineItalic.ttf') format('truetype'),
        url('Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-BlackItalic.eot');
    src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BlackItalic.woff2') format('woff2'),
        url('Lato-BlackItalic.woff') format('woff'),
        url('Lato-BlackItalic.ttf') format('truetype'),
        url('Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Regular.eot');
    src: url('PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-Regular.woff2') format('woff2'),
        url('PlusJakartaSans-Regular.woff') format('woff'),
        url('PlusJakartaSans-Regular.ttf') format('truetype'),
        url('PlusJakartaSans-Regular.svg#PlusJakartaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Italic.eot');
    src: url('PlusJakartaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-Italic.woff2') format('woff2'),
        url('PlusJakartaSans-Italic.woff') format('woff'),
        url('PlusJakartaSans-Italic.ttf') format('truetype'),
        url('PlusJakartaSans-Italic.svg#PlusJakartaSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.woff2') format('woff2'),
        url('Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

