@import "../../assets//styles/global.scss"; 
.footer {
    padding: 59px 111px 106px 101px;
    background-color: $primaryBrown;
    color: $primaryYellow1;
    @media #{$screen-xl} {
        padding: 60px 50px;
    }
    .sub-footer {
        display: flex;
        justify-content: space-between;
        .sub-footer-dtail-1 {
            .Raegen {
            margin-bottom: 24px;
            }
            .footer-sec1 {
                display: flex;
                gap: 16px;
                align-items: center; 
                font-family: 'Lato';
                font-style: normal;
                line-height: 19px;
                margin-bottom: 16px;
                .text { 
                    width: 219px;
                    .text-title {
                        margin-top: 0;
                        margin-bottom: 8px;   
                        font-weight: 400;
                        font-size: 16px; 
                    }
                    .text-description { 
                        margin-top: 0;
                        margin-bottom: 0;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
        }
        .sub-footer-dtail-2, .sub-footer-dtail-3 , .sub-footer-dtail-4 {
            .title { 
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 100%;
                margin-top: 0;
                margin-bottom: 24px;
                @media #{$screen-xl} {
                    font-size: 25px;
                }
            }
            .title-dtail {
                .text {
                    display: flex;
                    margin-bottom: 16px;
                    span {
                        margin: 0;
                        a{
                            text-decoration: none;
                            color: $primaryYellow1;
                        }
                    }
                }
            }
            .title-dtail-1 {
                width: 219px; 
                .text {
                    display: flex;
                    margin-bottom: 16px;
                    p {
                        margin: 0;
                    }
                    img {
                        margin-left: 6px;
                        margin-bottom: 5px;
                    }
                }
                .email {
                    max-width: 295px;
                    background-color: $primaryBrown3 !important;
                    border: none;
                    border-radius: 6px;
                    padding: 8px 16px !important;
                    color: $primaryYellow1 !important; 
                    font-family: 'Lato'; 
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    @media #{$screen-xl} {
                        max-width: 185px;
                    }
                }
                .btn {
                    background-color: $primaryYellow1;
                    padding: 6px 12px;
                    border: none;
                    border-radius: 20px;
                    color: $primaryBrown;
                    margin-top: 24px;
                    margin-left: 54px; 
                    font-family: "Kanit"; 
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    &:hover {
                        background-color: $primaryYellow5;
                        color: $primaryYellow6;
                    }
                }
            }
        }
    }
}