@import "../assets/styles/global.scss";
.home {
    .hero {
        display: flex;
        background-color: $primaryBrown;
       
        .hero-sec1 {
            padding: 72px 0 16px 70px;
            width: 50%;
            @media #{$screen-xl} {
                padding: 60px 0 34px 50px;
            }
            .title { 
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                line-height: 100%;
                color: #FFFFFF;
                margin-top: 0;
                margin-bottom: 16px;
                @media #{$screen-xl} {
                    font-size: 40px;
                }
            }
            .business {
                color:$primaryYellow1;
            }
            .text {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                width: 518px;
                color: $white;
                margin-bottom: 72px;
                @media #{$screen-xl} {
                    width: auto;
                    margin-bottom: 75px;
                    font-size: 18px;
                }
            }
            .buttton {
                border: none;
                padding: 8px 16px;
                border-radius: 20px;
                background-color: $primaryYellow1; 
                font-family: "Kanit";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: $white;
                text-decoration: none;
                color: $white;
                &:hover {
                    background-color: $primaryYellow5;
                    color: $primaryYellow6;
                }
                
            }
        }
        .hero-sec2 {
            margin-top: 29px;
            width: 50%;
            @media #{$screen-xl} {
                margin-top: 127px;
            }
            img {
                width: 100%;
                margin-bottom: -7px;    
                @media #{$screen-xl} {
                    margin-bottom: -6px;    
                }
            }
        }
    }
}
.about {
    padding: 72px 70px 152px;
    @media #{$screen-xl} {
        padding: 60px 50px;
    }
    .about-us{
        display: flex;
        align-items: center;
        gap: 20px;
        @media #{$screen-xl} {
            gap: 30px;
        }
        .abtImg {
            width: 50%;
            img {
                @media #{$screen-xl} {
                    width: 100%;
                }
            }
        }
        .about-us-dtail {
            width: 50%;
            .main-title{
                width: 133px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;
                padding: 8px 16px;
                background-color: $primaryYellow2;
                border-radius: 10px; 
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: $primaryBrown;
            }
            .sub-title {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                color: $primaryBrown;
                margin-top: 0;
                margin-bottom: 16px;
            }
            .description {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $primaryBrown;
            }
            .list {
                margin-top: 24px;
                margin-bottom: 81px;
                @media #{$screen-xl} {
                    margin-bottom: 60px;
                }
                .list-dtail{
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                    margin-bottom: 18px;
                    p {
                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 18px;
                        color: $primaryBrown;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
            .button {
                padding: 8px 16px;
                border: none;
                border-radius: 20px;
                background-color: $primaryYellow1;
                width: 159px;
                text-align: center; 
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: $white;
                text-decoration: none;  
                &:hover {
                    background-color: $primaryYellow7;
                    color: $primaryYellow6 !important;
                }
            }
        }
    }
}
.services {
    padding: 0 70px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media #{$screen-xl} {
        padding: 60px 50px;
    }
    .title { 
        margin-top: 0;
        margin-bottom: 16px;
        padding: 8px 16px;
        background-color: $primaryYellow2;
        border-radius: 10px; 
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $primaryBrown;
        width:106px;
        text-align: center;
    }
    .description {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: $black;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .ServicesCard {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        @media #{$screen-xl} {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .background-img {
        img { 
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            height: 305px;
            @media #{$screen-xl} {
                width: 100%;
            } 
        }
    }
}
.workflow {
    display: flex;
    gap: 20px;
    padding: 72px 51px 70px;
    position: relative;
    justify-content: center;
    @media #{$screen-xl} {
        padding: 60px 50px;
    }
    .waveImg {
        position: absolute;
        z-index: -1;
        top: 121.75px;
        width: 90%;
    }
}
.portfolio {
    padding: 119px 70px 170px;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url("../assets/images/blackFrame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media #{$screen-xl} {
        padding: 130px 50px;
    }
    .title { 
        margin-top: 0;
        margin-bottom: 16px;
        padding: 8px 16px;
        background-color: $primaryBrown1;
        border-radius: 10px; 
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width:106px;
    }
    .description {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .portfolioImg {
        display: flex;
        gap: 20px;
        img {
            @media #{$screen-xl} {
                width: 300px;
                gap: 25px;
            }
        }
    }
}
.testimonials {
    padding: 72px 103px 109px 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/yellowBackground2.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @media #{$screen-xl} {
        padding: 90px 50px;
        background-position: center;
    }
    .title { 
        margin-top: 0;
        margin-bottom: 16px;
        padding: 8px 16px;
        background-color: $primaryYellow3;
        border-radius: 10px; 
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width:106px;
    }
    .description {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        margin-bottom: 40px;
        color:$gray ;
    }
    .review {
        display: flex;
        color: $primaryYellow1;
        width: 864px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        .reviewDtails {
            background-color: $primaryBrown;
            padding:32.5px 16px;
            .ratings {
                display: flex;
                gap: 4px;
            }
            .reviewText{
                margin-top: 210px;
                margin-bottom: 96px; 
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
            .leslie { 
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .occupation { 
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
.teamSec {
    background-image: url("../assets/images/yellowBackground3.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    .teamDtail {
        padding: 60px 119px 49px 116px;
        display: flex;
        flex-direction: column;
        align-items: center;  
        @media #{$screen-xl} {
            padding: 60px 50px;
        }
        .title { 
            margin-top: 0;
            margin-bottom: 20px;
            padding: 8px 16px;
            background-color: $primaryBrown2;
            border-radius: 10px; 
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $primaryBrown;
        }
        .description {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            margin-top: 0;
            margin-bottom: 24px;
            color:$primaryBrown ;
        }
        .teamCards {
            display: flex;
            gap: 20px;
            flex-wrap: nowrap;
            justify-content: center;
            @media #{$screen-xl} {
               flex-wrap: wrap;
            }
        }
    }
}
.contact {
    background-image: url("../assets/images/Group310.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 853px;
    .contactDtail {
        padding: 56px 70px 79px;
        display: flex;
        flex-direction: column;
        align-items: center;  
        @media #{$screen-xl} {
            padding: 60px 50px;
        }
        .title { 
            margin-top: 0;
            margin-bottom: 16px;
            padding: 8px 16px;
            background-color: $primaryYellow4;
            border-radius: 10px; 
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $primaryBrown;
        }
        .description {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            margin-top: 0;
            margin-bottom: 24px;
            color:$white ;
        }
        .form_address {
            display: flex;
            gap: 20px;
            width: 100%;
            @media #{$screen-xl} {
                gap: 10px;
            }
            .form {
                width: 860px;
                color: $primaryYellow1;
                @media #{$screen-xl} {
                    width: 70%;
                }
            }
            .inputs {
                display: flex;
                gap: 20px;
                margin-bottom: 24px; 
                .field ,.field1  {
                    width: 388px;
                    background-color: $primaryBrown;
                    border: 2px solid $primaryYellow1;
                    padding: 22.5px 16px !important;
                    color: $primaryYellow1; 
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;    
                    @media #{$screen-xl} {
                        width: auto;
                    }
                }
                .field1 {
                    width: 831px;
                    height: 259px;
                    @media #{$screen-xl} {
                        width: 200%;
                    }
                }
            }
            .btn {
                background-color: $primaryYellow1;
                border: none;
                border-radius: 20px;
                text-align: center;
                padding: 21px 109px; 
                font-family: "Kanit";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: $primaryBrown;
                cursor: pointer;
                @media #{$screen-xl} {
                    padding: 16px 40px
                }
                &:hover {
                    background-color: $primaryYellow5;
                    color: $primaryYellow6;
                }
            }
            .address {
                padding: 24px 31px 38px 16px;
                height: 438px;
                background-color: $primaryYellow1;
                @media #{$screen-xl} {
                    width: 30%;
                }
                .address-sec-sub {
                    border-bottom: 2px solid $white;
                    .address-sec {
                        display: flex;
                        gap: 21px;
                        align-items: center; 
                        font-family: 'Lato';
                        font-style: normal;
                        line-height: 19px;
                        margin-bottom: 32px;
                        img {
                            width: 85px;
                            height: 83px;
                        }
                        .text { 
                            width: 219px;
                            .text-title {
                                margin-top: 0;
                                margin-bottom: 14px;   
                                font-weight: 400;
                                font-size: 16px; 
                            }
                            .text-description { 
                                margin-top: 0;
                                margin-bottom: 0;
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .icons {
                    display: flex;
                    gap: 8px;
                    margin-top: 32px;
                    a img {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}