@import "../../assets/styles/global.scss";

.nav {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 16px 70px;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryBrown;
    .nav-logo {
        // padding-right: 479px;
    }
    .nav-items {
        display: flex;
        align-items: center;
        gap: 32px;
        .nav-list {
            display: flex;
            gap: 40px;
            .nav-list-item {
                list-style-type: none;
                a {
                    text-decoration: none; 
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: $white;
                }
            }
        }
        .nav-btn {
            padding: 8px 16px;
            background-color: $primaryYellow1;
            border-radius: 20px;
            border: none; 
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $white;
        }
    }
    
}