$white: #FFFFFF;
$black: #000000;
$primaryYellow: #FFFCF4;
$primaryYellow1:#F9D342;
$primaryYellow2:rgba(249, 211, 66, 0.4);
$primaryYellow3:rgba(235, 181, 49, 0.4);
$primaryYellow4:rgba(235, 181, 49, 0.7);
$primaryYellow5:  rgba(235, 181, 55, 0.5);
$primaryYellow6:  rgba(235, 195, 55, 0.8);
$primaryYellow7: rgb(253, 230, 138 , 0.7);
$primaryBrown: #292826; 
$primaryBrown1:  rgba(235, 181, 49, 0.2);
$primaryBrown2: rgba(41, 40, 38, 0.25);

$gray:#18181B;