@import "../../assets/styles/global.scss";

.tabletImage {
    width: 310px;
    box-shadow: 2px 5px 10px #00000080;
    border-radius: 10px;
    background-color: $white;
    &:hover {
        background-color: $primaryBrown;
        color: $primaryYellow1;
    }
    .tablet-datil {
        padding: 16px 29px ;
        .tablet-datil-title {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 8px;
            text-align: center;
        }
        .tablet-datil-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 24px;
            // align-self: stretch;
        }
        .tablet-datil-button {
            border: none;
            padding: 8px 16px;
            color: $white;
            font-family: "Kanit";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            background: #F9D342;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                background-color: $primaryYellow5;
                color: $primaryYellow6;
            }
        }
    }
    &:hover {
        box-shadow: 3px 7px 15px #00000080;
    }
}